.container{
    background-color: #6FCF97;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-evenly;
}

.link{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.link:hover{
    color: green;
    background-color: #B9CC7E;
}

.container ul{
    list-style-type: none;
}

.navbar{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
  